.header{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: #1f2937;
    color: white;
    padding: 32px;
}
a{
    color: white;
}
.about_us{
    display: flex;
    

}
.intro{
    display: flex;
    flex-direction: row;
    border: 1px solid pink;
}
.text{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-right: auto;
}
.big_img{
    
    width: 1000px;
}

.logo{
    width: 100px;
}

ul{list-style: none;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    border:1px solid green;
}

.info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    gap: 32px;
    background-color: white;
    color: black;
    padding: 32px;
}
.main{
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}
.card{
    gap: 8px;
    width: 200px;
    
}
img{
    border: blue;
}